{%extends "base.html"%}
{% load crispy_forms_tags %}
{%block content%}
<div class ="content-section">
    <form method="POST">
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">join now</legend>>
            {{form|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            ALREADY HAVE AN ACCOUNT?<a class="ml-2" href="#">SIGNIN</a>
        </small>
</div>
</div>
<p>the about page just tells us more about my website and its default<p>
    <marquee>hello</marquee>
    {%endblock content%}